@charset "utf-8";
/* CSS Document */

body {
    font-family: "Georgia", serif;
    color : black;
    line-height: 1.4;

    margin: 30px;

    background-image: url("page-bg.gif");
    background-color: #f7f3de;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h1{
    font-size: 350%;
    color : #7c1a00;
    padding: 40px;
    padding-left: 40px;

    

}